# Ignore virtual environment
env/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment variable file (you’ll add this later)
.env

# Firebase credentials
*.json
blossomsaroma-c660f-firebase-adminsdk-fbsvc-3ffdd1357f.json
